# --- ecommerce-api ---
SERVICE_NAME=ecommerce-api
PORT=8080
OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=http://jaeger:4318/v1/traces
OTEL_SAMPLING_RATIO=0.15
PAYMENT_SERVICE_URL=http://payment:9000/charge
PAYMENT_TIMEOUT_MS=5000

# --- payment-mock-service ---
PAYMENT_FAILURE_RATE=0.1
